
<table class="tx-ght-catalogue" >
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.name" />
		</td>
		<td>
		{marchand.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.site" />
		</td>
		<td>
		{marchand.site}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.email" />
		</td>
		<td>
		{marchand.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.tel" />
		</td>
		<td>
		{marchand.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.image" />
		</td>
		<td>
				<f:image src="{marchand.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.adresse" />
		</td>
		<td>
		{marchand.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.cp" />
		</td>
		<td>
		{marchand.cp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ghtcatalogue_domain_model_marchand.ville" />
		</td>
		<td>
		{marchand.ville}
		</td>
	</tr>
</table>