
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep



Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Produit / THEAU CEST UN BG</h1>

<f:flashMessages />

<table  class="tx_ghtcatalogue" >
	<tr>
		<th><f:translate key="tx_ghtcatalogue_domain_model_produit.name" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_produit.date_sortie" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_produit.description" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_produit.prix" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_produit.img" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{produits}" as="produit">
		<tr>
			<td><f:link.action action="show" arguments="{produit : produit}"> {produit.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{produit : produit}"> {produit.dateSortie -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{produit : produit}"> {produit.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{produit : produit}"> {produit.prix}</f:link.action></td>
			<td><f:link.action action="show" arguments="{produit : produit}"> {produit.img.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{produit : produit}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{produit : produit}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Produit</f:link.action>
</f:section>
