
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep



Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1 style="margin-bottom:50px;" class="text-center">Liste des produits</h1>

<f:flashMessages />

	<f:for each="{produits}" as="produit">
  <div class="panel panel-default col-xs-12 col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">
    <div class="panel-body">
      <div class="produit ">
          <h2 class="text-center"><f:link.action action="show" arguments="{produit : produit}" pageUid="40"> {produit.name}</f:link.action></h2>
          <p class="text-center" style="font-style:italic;">{produit.dateSortie -> f:format.date()}</p>
          <h3 class="col-xs-12 text-center">{produit.prix}€</h3>
          <f:image src="{produit.img.originalResource.publicUrl}" class="col-xs-12" style="height:150px;width:auto;margin-bottom:10px;"/>
      </div>
    </div>
  </div>

	</f:for>

</f:section>
