
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listes des marchands</h1>

<f:flashMessages />



		<!-- <th><f:translate key="tx_ghtcatalogue_domain_model_marchand.name" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_marchand.site" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_marchand.email" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_marchand.tel" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_marchand.image" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_marchand.adresse" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_marchand.cp" /></th>
		<th><f:translate key="tx_ghtcatalogue_domain_model_marchand.ville" /></th> -->


	<f:for each="{marchands}" as="marchand">
		
			<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.name}</f:link.action>
			<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.site}</f:link.action>
			<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.email}</f:link.action>
		<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.tel}</f:link.action>
	<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.image.originalResource.name}</f:link.action>
			<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.adresse}</f:link.action>
			<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.cp}</f:link.action>
			<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.ville}</f:link.action>
			<f:image src="{marchand.image.originalResource.publicUrl}" width="200"/>
		
	</f:for>

<f:link.action action="new">New Marchand</f:link.action>
</f:section>