
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder




<f:section name="main">
<h1>Listes des marchands</h1>

<f:flashMessages />


<div class="container">
	<div class="row">
		<f:for each="{marchands}" as="marchand">
			<div class="col-xs-12 col-md-6 col-lg-4" style="">
				<p class="nom"><f:link.action action="show" style="font-weight: bold; color : black; font-size: 150%; " arguments="{marchand : marchand}" > {marchand.name}</f:link.action></p>
				
				<f:link.action action="show" style="font-weight: bold; color : black; font-size: 150%; " arguments="{marchand : marchand}" > <f:image src="{marchand.image.originalResource.publicUrl}" width="100"/></f:link.action>
				

			</div>
		</f:for>
	</div>
</div>

</f:section>