
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Détails du vendeur : {marchand.name}</h1>
</br>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 text-">
        <f:image src="{marchand.image.originalResource.publicUrl}" width="200"/>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8 text-">
        <h3>Contact :</h3>
        <p>Site web : <a href="{marchand.site}">{marchand.site}</a></p>
        <p>Adresse email : {marchand.email}</p>
        <p>Téléphone  : {marchand.tel}</p>
        <hr>
        <h3>Adresse postale :</h3>
        <p>{marchand.adresse}</p>
        <p>{marchand.cp}  {marchand.ville}</p>
       
    </div>
</div>

<f:flashMessages />
<!-- <f:render partial="Marchand/Properties" arguments="{marchand:marchand}" /> -->
<f:link.action action="list" class="btn btn-primary">Retourner au marchands</f:link.action><br />
</f:section>