
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div class="thumbnail">
  <h1>Description de la catégorie</h1>

  <f:flashMessages />
  <f:render partial="Category/Properties" arguments="{category:category}" />
</div>
<div class="btn-group">
  <f:link.action action="list" class="btn btn-default">Retour à la liste</f:link.action>
  <f:link.action action="new" class="btn btn-default">Nouvelle catégorie</f:link.action>
</div>
</f:section>
